@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    /*--cores--*/
    --cor-de-fundo: #1486ff;
    --preto: #070707;
    --cinza: #1486ff;
    --cinza-claro: #2f2e2e;
    --branco: #FFFFFF;
    --laranja: #C6EBBE;
    --azul: #0E79B2;
    --azul-degrade: linear-gradient(97.54deg, #7D387D 35.49%, #C45BAA 165.37%);

    /*--fonts--*/
    --fonte-principal: 'Poppins';
    --fonte-secundaria: 'Josefin Sans';
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.descricao__imagem {
    width: 161px;
}