.cabecalho {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho_menu-hamburguer {
    width: 28px;
    height: 42px;
    margin: 1em;
    background-image: url(../img/Menu.svg);
    display: inline-block;
}

.container__botao:checked~.container__rotulo > .cabecalho_menu-hamburguer {
    
    background-image: url(../img/Menu\ Aberto.svg);
    
}
.container__botao:checked~.container__rotulo {
    background: var(--laranja);
    margin-top: .5em;
    margin-bottom: -.5em;
}

.cabecalho_menu-favoritos {
    width: 44px;
    height: 42px;
    background-image: url(../img/Favoritos.svg);
    display: inline-block;
}


.cabecalho_menu-compras {
    width: 48px;
    height: 42px;
    background-image: url(../img/Compras.svg);
    display: inline-block;
}

.cabecalho__menu-usuario {
    width: 42px;
    height: 42px;
    background-image: url(../img/Usuário.svg);
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: .2em;
}

.container__botao, .container__botao-usuario,
.container__botao-compras, .container__botao-favoritos, .opcoes__botao
 {
    display: none;
}

.hamburguer {
    background-repeat: no-repeat;
}

/*---- Menu Hamburguer ----*/

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 25vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--laranja);
}

.lista-menu__titulo {
    color: var(--preto);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista-menu__item:hover {
    background-color: var(--cor-de-fundo);
    transition: .5s;
}

.lista-menu__item:hover {
    color: var(--cor-de-fundo);
}


/*---- Menu Favoritos ----*/


/*---- Menu Compras ----*/


/*---- Menu Usuario ----*/

.menu-usuario {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    background-color: var(--branco);

    border-radius: 0 0 0 15px;
}

.container__botao-usuario:checked~.menu-usuario {
    display: block;
}

.menu-usuario__titulo {
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0;
}

.menu-usuario__email, .menu-usuario__senha {
    padding: .5em; 
    border: 1px solid var(--azul);
    border-radius: 15px;
    width: 90%;
    color: var(--azul);
    margin-bottom: .5em;
}
.container__titulo{
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 1em;
    }
    .cabecalho_menu-hamburguer{
        display: none;
    }

    .container__imagem {
        margin: 0 1em;
    }

    .container__titulo, .container__titulo-negrito {

        font-family: var(--fonte-secundaria);
    }

    .container__titulo {
        font-size: 30px;
        font-weight: 400;
        display: block;
        margin-left: .5em;
    }
 
    .container__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho_menu-favoritos {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .lista-menu {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 1em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
    }
}

.container__texto {
    display: none;
}

@media screen and (min-width:1728px) {
    .container__link {
        display: flex;
    }
    
    .container__texto {
        display: flex;
        align-items: center;
        padding: 0 .5em;
    }

    .container__botao-compras {
        margin-right: 1em;
    }
    
    .cabecalho {
        padding: 1em 3em;
    }

    .opcoes {
        margin-right: auto;
    }
}